@charset "utf-8";

/* based NHN > UIT Center > Open UI Technology Team > Jeong Chan Myeong(dece24@nhncorp.com) */
/* modified ncloud */

/* Element Reset */
body { font-family:"Malgun Gothic", AppleGothic, Tahoma, Sans-serif; font-size:12px; margin:0; padding:0; }
hr{ display:none; position:absolute;}
legend{ position:absolute; width:0; height:0; font-size:0; line-height:0; visibility:hidden;}
fieldset{ border:0; padding:0; margin:0;}

/* Global Class */
.inputText { font-family:Tahoma;}
.inputTextarea{ font-family:Tahoma; line-height:1.5;}
.inputCheck{ width:13px; height:13px;}
.inputRadio{ width:13px; height:13px;}


/* Layout */
#hidden_area {}

#container { padding-top:20px; }
	#header{}
	#body{}
	#footer{}

/* * Hidden_area */
#top { width:100%; height:38px; }
	#top .width { position:relative; }
	#top ul#top_navigation {list-style:none; margin:0; padding:0; height:38px;; }
		#top ul#top_navigation li { display:inline-block; padding-top:10px; width:16px; height:28px; margin-right:10px; font-size:0; }
		#top ul#top_navigation li.selected {  }

	#top #search_wrap { position:absolute; right:0; top:10px; }
		#top #search_wrap .keyword { float:left; margin-right:2px; }
		#top #search_wrap .submit { float:left; }

		#top #search_wrap .inputText { border:0; height:17px; }
		#top #search_wrap .buttonSearch { border:0; font-size:11px; height:19px; padding-top:1px; padding-bottom:2px; cursor:pointer; }
		#top #search_wrap .buttonSearch:active {}

#down_button_area { height:34px; position:relative; }
	#down_button_area .button { position:absolute; right:0; top:0; padding-top:4px; height:30px; width:30px; text-align:center; }

/* * Header */

#header a{ text-decoration:none;}
#header a:hover,
#header a:active,
#header a:focus{ text-decoration:none; }

#header h1{ float:left; font-weight:bold; margin:0; padding:0; margin-bottom:20px; font-size:16px;}
	#header h1 a:hover { text-decoration:underline; }
	#header .category { float:right; margin-left:20px; }
		#header .category .dropdown { margin-top:0; }


/* * Footer */
#footer { font-size:11px; }

#footer a{ text-decoration:none;}
#footer a:hover,
#footer a:active,
#footer a:focus{ text-decoration:underline;}

#footer .powered { position:relative; padding-bottom:20px; padding-top:20px; text-align:right; font-size:11px; }
	#footer .powered #admin_menu { position:absolute; right:-30px; top:18px; -moz-opacity:.20; filter:alpha(opacity=20); opacity:.20; }
	#footer .powered #admin_menu:hover { -moz-opacity:1; filter:alpha(opacity=100); opacity:1; }

	#footer .powered ul { position:absolute; list-style:none; margin:0; padding:0; left:0; top:20px; }
	#footer .powered ul li { float:left; margin-right:8px; padding-left:4px; }
		#footer .powered ul li#profile_menu { border-left:0; padding-left:0; }
		#footer .powered ul li#rss_menu { border-left:0; padding-top:2px; }


/* Content */
#content {}
	#content .content { position:relative; }
	#content .content .extra { position:absolute; left:-74px; width:52px; text-align:right; top:-5px; padding-top:5px; font-size:11px; }
		#content .content .extra .date { font-family:"Segoe UI"; font-size:10px; }

		#content .content .extra .category,
		#content .content .extra .author { padding-top:6px; margin-top:6px; }
		#content .content .extra .edit { margin-top:4px; }

		#content .content .extra a { text-decoration:none; }
		#content .content .extra a:hover { text-decoration:underline; }	

#content .postThumbnail { margin-bottom:10px; }
	#content .postThumbnail ul { list-style:none; margin:0; padding:0; }
	#content .postThumbnail ul li {}

	#content .postThumbnail .postThumbnailItem { margin-top:10px;  text-align:center; }
	#content .postThumbnail .postThumbnailItem_0 { margin-top:0; }
	
#content .postTitle{ position:relative; padding:0; margin:0 0 10px 0; font-size:18px; margin-right:100px; }

#content .postTitle a { text-decoration:none; }
#content .postTitle a:hover,
#content .postTitle a:active,
#content .postTitle a:focus{ text-decoration:underline;}

#content .share { float:right; margin-top:6px; }
#content .share a { display:inline-block; }

/* summary */

#content .postRow { float:left; }
#content .postRowEnd { margin-right:0; }

#content .postRow .postWrap { margin-bottom:20px; padding-bottom:10px; }
	#content .postRow .postWrap:last-child { border-bottom:0; }

	#content .postRow .postWrap .postTitle { font-size:12px; margin-top:10px; margin-bottom:4px; width:100%; }
	#content .postRow .postWrap .postContent { font-size:11px; padding-bottom:10px; }

#content .postRow .postData .thumbnail {}
	#content .postRow .postData .thumbnail a:hover img { -moz-opacity:.80; filter:alpha(opacity=80); opacity:.80; }


#content .postRow .dontHaveThumbnail { border-bottom:1px solid transparent; margin-bottom:20px; }
	#content .postRow .dontHaveThumbnail .postData  { padding:10px; border-bottom:0; }
	#content .postRow .dontHaveThumbnail .postTitle { margin-top:0; width:100%; }
		#content .postRow .dontHaveThumbnail .postTitle a {}

	#content .postRow .dontHaveThumbnail .postContent { margin-top:10px; padding-bottom:0;}

#content .pagination { position:relative; height:24px; padding-bottom:24px; }
	#content .pagination a { font-weight:bold; text-decoration:none; }
	#content .pagination a:hover { text-decoration:underline; }

	#content .pagination span.prev { position:absolute; left:0px; top:16px; padding-left:14px; }
	#content .pagination span.next { position:absolute; right:0px; top:16px; padding-right:14px; }

/* title list */

#content .postTitleList { margin-bottom:10px; }
#content .postTitleList .postTitle  { font-size:12px; }
	#content .postTitleList .postTitle .point { font-weight:bold; }

#content .searchResult { list-style:none; margin:0; padding:0; margin-top:14px; padding-top:6px; }

#content .searchResult li { position:relative; height:80px;  padding-top:10px; padding-bottom:10px; }
#content .searchResult li a { text-decoration:none; }
#content .searchResult li a:hover { text-decoration:underline; }

#content .searchResult .thumbnail { position:absolute; left:0; top:6px; width:120px; height:80px; overflow:hidden; margin-right:20px; }
	#content .searchResult .thumbnail .postThumbnail { margin:0; padding:0; }
#content .searchResult .data { position:absolute; left:140px; top:10px; height:80px; overflow:hidden; }
	#content .dontHaveThumbnail .data { left:0; }

	#content .searchResult .data .postTitle { font-weight:bold; font-size:14px; margin-bottom:4px; }
	#content .searchResult .data .postContent { font-size:11px; }
	#content .searchResult .data .date { position:absolute; left:0; bottom:0; font-size:11px; }

/* guestbook */
#content .guestbook .postTitle { font-size:12px; margin-right:0; }
	#content .guestbook .postTitle .point { font-weight:bold; }

	#content .guestbook .reply { margin-top:4px; background:none;  }
	#content .guestbook .replyForm { padding-top:14px; margin-top:14px; }
	
#content .usedTag{ *zoom:1; font-size:11px; padding-top:20px; }
#content .usedTag:after{ content:""; display:block; clear:both;}
#content .usedTag dt{ display:table-cell; *float:left;}
#content .usedTag dd{ display:table-cell; *float:left; padding-left:5px;}
#content .usedTag dd a{ text-decoration:none;}
#content .usedTag dd a:hover,
#content .usedTag dd a:active,
#content .usedTag dd a:focus{ text-decoration:underline;}

#content .postMeta{ float:right; clear:both; position:relative; top:-40px; margin:0; right:0; font-size:11px; text-align:right;}
#content .postMeta .yymmdd{}
#content .postMeta .hhmm{}
#content .postMeta .author{ padding:0 0 0 6px; margin:0 0 0 4px; text-decoration:none; }
#content .postMeta a.editPost{ padding:0 0 0 8px; text-decoration:underline; margin-left:5px; *zoom:1;}

/* profile */
#content .profileWrap { padding-bottom:10px; }
	#content .profileWrap .postTitle { font-size:14px; padding-bottom:10px; margin-right:0; margin-bottom:0; }

.action_wrap { padding-bottom:10px; }
	.action_wrap a { text-decoration:underline; }
	.action_wrap a:hover { text-decoration:underline; }

.trackback_wrap { }
.comment_wrap { }

/* Feedback */
.feedback{ position:relative; margin-top:20px; margin-bottom:20px; padding-top:20px; }
.feedback .feedbackTitle{ height:19px; overflow:hidden; font-size:12px; margin-top:0; padding-bottom:6px; }

.feedback .feedbackOrder{ position:relative; margin:0; padding:0; *zoom:1;}
.feedback .feedbackOrder .item{ position:relative; *zoom:1;}
.feedback .feedbackOrder .item:after{ content:""; display:block; clear:both;}

.feedback.trackback .data{}
.feedback.trackback .item{ padding:15px 0; list-style:none; }

.feedback.reply { margin-bottom:0; }
.feedback.reply .feedbackOrder{ overflow:hidden;}
.feedback.reply .item{ top:-1px; padding:0; padding-bottom:20px; list-style:none; }

.feedback .trackbackURL{ *zoom:1; position:absolute; right:0; top:10px; }
.feedback .trackbackURL:after{ content:""; display:block; clear:both;}
.feedback .trackbackURL dt{ float:left; width:80px; font-weight:bold;}
.feedback .trackbackURL dd{ float:left; margin:0;}
.feedback .trackbackURL dd a{ font-size:11px; text-decoration:none;}
.feedback .trackbackURL dd a:hover,
.feedback .trackbackURL dd a:active,
.feedback .trackbackURL dd a:focus{ text-decoration:underline;}

.feedback .item.replyTarget{ padding-right:10px;}
.feedback .item.replyTarget .textyleContent{}
.feedback .item.indent{}

.feedback .item.indent.indent1{ padding-left:30px; background-position:10px 20px;}
.feedback .item.indent.indent2{ padding-left:60px; background-position:40px 20px;}
.feedback .item.indent.indent3{ padding-left:90px; background-position:70px 20px;}
.feedback .item.indent.indent4{ padding-left:120px; background-position:100px 20px;}
.feedback .item.indent.indent5{ padding-left:150px; background-position:130px 20px;}
.feedback .item.indent.indent6{ padding-left:180px; background-position:160px 20px;}
.feedback .item.indent.indent7{ padding-left:210px; background-position:190px 20px;}
.feedback .item.indent.indent8{ padding-left:240px; background-position:220px 20px;}
.feedback .item.indent.indent9{ padding-left:270px; background-position:250px 20px;}
.feedback .item.indent.indent10{ padding-left:300px; background-position:280px 20px;}
.feedback .item.indent.indent11{ padding-left:330px; background-position:310px 20px;}
.feedback .item.indent.indent12{ padding-left:360px; background-position:340px 20px;}
.feedback .item.indent.indent13{ padding-left:390px; background-position:370px 20px;}
.feedback .item.indent.indent14{ padding-left:420px; background-position:400px 20px;}
.feedback .item.indent.indent15{ padding-left:450px; background-position:430px 20px;}
.feedback .item.indent.indent16{ padding-left:480px; background-position:460px 20px;}
.feedback .item.indent.indent17{ padding-left:510px; background-position:490px 20px;}
.feedback .item.indent.indent18{ padding-left:540px; background-position:520px 20px;}
.feedback .item.indent.indent19{ padding-left:570px; background-position:550px 20px;}
.feedback .item.indent.indent20{ padding-left:600px; background-position:580px 20px;}
.feedback .item.indent.indent21{ padding-left:630px; background-position:610px 20px;}
.feedback .item.indent.indent22{ padding-left:660px; background-position:640px 20px;}
.feedback .item.indent.indent23{ padding-left:690px; background-position:670px 20px;}
.feedback .item.indent.indent24{ padding-left:720px; background-position:700px 20px;}
.feedback .item.indent.indent25{ padding-left:750px; background-position:730px 20px;}
.feedback .item.indent.indent26{ padding-left:780px; background-position:760px 20px;}
.feedback .item.indent.indent27{ padding-left:810px; background-position:790px 20px;}
.feedback .item.indent.indent28{ padding-left:840px; background-position:820px 20px;}
.feedback .item.indent.indent29{ padding-left:870px; background-position:850px 20px;}
.feedback .item.indent.indent30{ padding-left:900px; background-position:880px 20px;}

.feedback .date{ margin:0; font-size:9px;}
.feedback .date .hhmm{}

.feedback .meta{ display:table-cell; width:100px; padding:0 20px 0 0; margin:0; *zoom:1; float:left;}
.feedback .meta:after{ content:""; display:block; clear:both;}
.feedback .meta a{ text-decoration:none;}
.feedback .meta a:hover,
.feedback .meta a:active,
.feedback .meta a:focus{ text-decoration:underline;}
.feedback .meta .thumb{ float:left; margin:0 10px 5px 0;}
.feedback .meta .thumb img{ vertical-align:middle; width:39px; height:39px;}
.feedback .meta .author{ margin:0 0 5px 0; padding:0; font-size:12px;}
.feedback .meta .author a{ }
.feedback .meta .title{ margin:0; padding:0; font-size:12px;}
.feedback .meta .title a{ }
.feedback .meta .ipAddress{ margin:0; font-size:9px;}

.feedback .data{ display:table-cell; *float:left; clear:none;}
.feedback .data .trackbackTitle{ margin:0; font-weight:normal; font-size:12px;}
.feedback .data .trackbackTitle a{ text-decoration:none; margin-right:10px;}
.feedback .data .trackbackTitle a:hover,
.feedback .data .trackbackTitle a:active,
.feedback .data .trackbackTitle a:focus{ text-decoration:underline;}
.feedback .data p{ margin:0 !important;}
.feedback .data p.secret{ padding-left:15px;}
.feedback .data .xe_content{ width:auto !important;}

.feedback .reAction{ position:relative; overflow:hidden; padding:0; margin:0; list-style:none; white-space:nowrap; clear:both; *zoom:1;}
.feedback .reAction:after{ content:""; display:block; clear:both;}
.feedback .reAction li{ position:relative; left:-5px; display:inline; margin:0; *margin:0 4px 0 0; padding:0 0 0 5px;  *zoom:1; vertical-align:middle;}
.feedback .reAction li.first{ background:none;}
.feedback .reAction li *{ vertical-align:middle;}
.feedback .reAction li a{ font-size:11px; text-decoration:none; }
.feedback .reAction li a:hover,
.feedback .reAction li a:active,
.feedback .reAction li a:focus{ text-decoration:underline;}
.feedback .reAction li button { overflow:visible; border:0; background:transparent; cursor:pointer; padding:0; font-size:11px; font-family:"Malgun Gothic"; }
.feedback .reAction li .sep { margin-right:4px; }

.feedback .pwForm{ margin:0; padding:0; display:none;}
.feedback .pwForm.active{ display:block;}
.feedback .pwForm *{ vertical-align:middle;}
.feedback .pwForm{ margin:1em 0;}
.feedback .pwForm .inputText{ font-size:11px; padding:2px 4px 4px 4px; height:12px; width:90px; margin:0 -1px 0 0;}
.feedback .pwForm .submit{ padding:0 2px; height:20px; cursor:pointer; font-size:11px;}

.replyForm{ padding-bottom:20px;}
.replyForm.guestBook{ border:0;}
.feedback .replyForm{ top:0 !important; padding:10px !important; margin-bottom:16px; }
.replyForm *{ font-size:12px;}
.replyForm h3{ font-size:14px;}
.replyForm .inputTextarea{ width:668px !important; padding:5px; display:block; margin:0 0 3px 0; overflow:auto;}
.replyForm .inputTextarea:focus{}
.feedback .replyForm .inputTextarea{ width:648px !important;}
.replyForm .inputText{ width:135px; padding:3px 4px; height:15px; vertical-align:middle;}
.replyForm .inputText:focus{}
.replyForm .inputText.name,
.replyForm .inputText.pw{ width:100px;}
.replyForm .inputText.email,
.replyForm .inputText.url{ width:160px;}
.replyForm .inputCheck{ vertical-align:middle;}
.replyForm label{ vertical-align:middle; cursor:pointer;}
.replyForm .inputSubmit{ cursor:pointer; overflow:visible; padding:7px 20px; font-family:Tahoma; font-weight:bold; display:block; margin:3px 0 0 0; margin-top:10px; }

.replyForm strong.name{ margin:0 10px 0 0;}
.replyForm span.email{ margin:0 10px 0 0; font-size:11px;}
.replyForm span.url{ font-size:11px; margin:0 10px 0 0;}
.replyForm #smart_content { margin-bottom:0; }

.replyForm .info1 { float:left; margin-right:10px; margin-top:10px;  }
.replyForm .info2 { float:left; margin-right:10px; margin-top:10px; }
.replyForm .info3 { float:left; width:100px; margin-top:10px; }

/* * paging */
#paging {  padding-top:10px; padding-bottom:30px; font-size:12px; position:relative;	 }
	#paging .tool { position:absolute; right:10px; top:20px; }

	#paging a { text-decoration:none; background:transparent; padding:5px; padding-left:8px; padding-right:8px; margin-right:2px; -moz-border-radius:4px; }

	#paging a.num { text-decoration:none; margin-left:2px; margin-right:2px; }
	#paging a.selected {}

	#paging a.prev,
	#paging a.next { font-weight:normal;  }

	#paging a.prev { margin-right:2px; }
	#paging a.next { }

	#paging a:hover {}
	#paging a:active {}

	#paging a.selected:hover {}

	#paging a.no_more {padding-left:8px; }

	#paging .nums a.prev,
	#paging .nums a.next { margin-left:2px; margin-right:2px; }

	#paging .interword { padding:5px; padding-left:8px;  }

/* textyleContent */
.textyleContent{ font-size:12px; line-height:1.6; clear:both; padding-bottom:10px; }
.textyleContent h1{ font-size:24px;}
.textyleContent h2{ font-size:20px;}
.textyleContent h3{ font-size:18px;}
.textyleContent h4{ font-size:16px;}
.textyleContent h5{ font-size:14px;}
.textyleContent h6{ font-size:12px;}

.textyleContent a { text-decoration:none; }
.textyleContent a:hover { text-decoration:underline; }

/* Attached File */
.textyleContent dl.attachedFile { position:relative; margin:1em 0; padding:1em 0; }
.textyleContent dl.attachedFile dt { padding:0 2em .5em 2em; margin:0 0 1em 0; font-weight:bold; text-indent:1em; font-size:12px;}
.textyleContent dl.attachedFile em{ font-size:11px; font-weight:normal; font-style:normal; margin:0 5px;}
.textyleContent dl.attachedFile dd{ margin:0; padding:0 2em; font-size:11px;}
.textyleContent dl.attachedFile dd a{ text-decoration:none; margin-right:10px;}
.textyleContent dl.attachedFile dd a:hover,
.textyleContent dl.attachedFile dd a:active,
.textyleContent dl.attachedFile dd a:focus{ text-decoration:underline;}

/* Table Of Content */
.textyleContent .toc{ position:relative; font-size:14px; line-height:1.6; margin:1em 0; padding:15px; *zoom:1;}
.textyleContent .toc li{ font-weight:bold; margin-left:35px;}
.textyleContent .toc li.toc3{}
.textyleContent .toc li.toc4{ margin-left:55px;}
.textyleContent .toc li.toc5{ margin-left:75px;}
.textyleContent .toc li a{ text-decoration:none; font-weight:normal;}
.textyleContent .toc li a:hover,
.textyleContent .toc li a:active,
.textyleContent .toc li a:focus{ text-decoration:underline;}

/* Object */
.textyleContent object{ margin:1em 0;}

/* Horizontal Rule */
.textyleContent hr{ display:block; position:static; border-bottom:0; height:1px; overflow:hidden; clear:both;}

/* Blockquote */
.textyleContent blockquote{ margin:1em 0; padding:1em 2em; -moz-border-radius:5px; -webkit-border-radius:5px; }

/* Cite */
.textyleContent cite{ display:block; margin:1em 0;}

/* Link */
.textyleContent .xe_dr_link p strong{ display:block;}

/* P */
.textyleContent p{ margin:1em 0 !important;}

/* More | Less */
.fold_button{ text-align:left; margin:1em 0;}
.fold_button button{ font-size:12px; border:0; cursor:pointer; overflow:visible; padding:0;}
.fold_button button:before{ content:"» ";}