@charset "utf-8";

/* based NHN > UIT Center > Open UI Technology Team > Jeong Chan Myeong(dece24@nhncorp.com) */
/* modified ncloud */

/* Element Reset */
body { font-family:"Malgun Gothic", AppleGothic, Tahoma, Sans-serif; font-size:12px; background-color:#fff; color:#000; margin:0; padding:0; }
hr{ display:none; position:absolute;}
legend{ position:absolute; width:0; height:0; font-size:0; line-height:0; visibility:hidden;}
fieldset{ border:0; padding:0; margin:0;}

/* Global Class */
.inputText { border:1px solid #9c9c9c; border-right-color:#c2c2c2; border-bottom-color:#c2c2c2; color:#666; font-family:Tahoma;}
.inputTextarea{ border:1px solid #9c9c9c; border-right-color:#c2c2c2; border-bottom-color:#c2c2c2; color:#666; font-family:Tahoma; line-height:1.5;}
.inputCheck{ width:13px; height:13px;}
.inputRadio{ width:13px; height:13px;}

/* Layout */
.width { width: 820px; margin:0 auto; }


#hidden_area { background:#f6f6f6; }
#container { background:#f6f6f6; }
	#header{}
	#body{}
	#footer{}

/* * Hidden_area */

#top { width:100%; height:38px; background:#000; }
	#top .width { position:relative; }
	#top ul#top_navigation {list-style:none; margin:0; padding:0; height:38px;; }
		#top ul#top_navigation li { display:inline-block; padding-top:10px; height:28px; }
		#top ul#top_navigation li.selected { background:url('img/bg_top_sep.gif') no-repeat center bottom; }

	#top #search_wrap { position:absolute; right:0; top:10px; }
		#top #search_wrap .inputText { border:0; background:#818181; color:#dfdfdf; }
		.buttonSearch { background:#989898; border:0; border-top:1px solid #a9a9a9; color:#f9f8f9; font-size:11px; height:18px; }

#down_button_area { height:34px; position:relative; }
	#down_button_area .button { position:absolute; right:0; top:0; padding-top:4px; height:30px; width:30px;  background:url('img/icon_gray_down_arrow.gif') no-repeat center 26px #000; text-align:center; }

/* * Header */
#header a{ text-decoration:none;}
#header a:hover,
#header a:active,
#header a:focus{ text-decoration:underline;}

#header h1{ font-weight:bold; margin:0; padding:0; margin-bottom:20px; font-size:18px;}
	#header h1 a{ color:#000;}
	#header h1 .sep { display:inline-block; width:13px; height:17px; background:url(img/bg_title_sep.png) no-repeat; font-size:0; text-indent:-1000px; overflow:hidden; margin-left:6px; margin-right:6px; }
	#header h1 .summary { font-weight:normal; font-size:11px; color:#a9a9a9; }


/* * Footer */
#footer { background:url('img/bg_footer.gif') repeat-x top;  border-top:1px solid #d6d6d6; }
#footer a{ text-decoration:none;}
#footer a:hover,
#footer a:active,
#footer a:focus{ text-decoration:underline;}

#footer .powered { padding-bottom:20px; padding-top:20px; text-align:left; }

/* Content */
#content {}
	#content .content { position:relative; }
	#content .content .extra { position:absolute; left:-74px; width:52px; text-align:right; top:-5px; padding-top:5px; font-size:11px; color:#535353; }
		#content .content .extra .date { font-family:"Segoe UI"; font-size:10px; }

		#content .content .extra .category,
		#content .content .extra .author { border-top:1px solid #e0e0e0; padding-top:6px; margin-top:6px; }
		#content .content .extra .edit { margin-top:10px; }

#content .postTitle{ position:relative; padding:0; margin:0 0 10px 0; font-size:18px; color:#000; }
#content .postTitle em{ font-style:normal; color:#ff1a1a;}
#content .postTitle .category{ font-weight:normal; padding:0 0 0 10px; margin:0 0 0 5px; font-size:12px; background:url(img/lineVrText.gif) no-repeat left center; color:#666;}

#content .postTitle a{ text-decoration:none; color:#000;}
#content .postTitle a:hover,
#content .postTitle a:active,
#content .postTitle a:focus{ text-decoration:underline;}

#content .postRow { width:175px; float:left; margin-right:40px; }
#content .postRowEnd { margin-right:0; }

#content .postRow .postWrap { margin-bottom:20px; }
	#content .postWrap .postTitle { font-size:12px; color:#1c1c1c; margin-top:10px; margin-bottom:4px; }
	#content .postWrap .postContent { font-size:11px; color:#777777; }

#content .pagination { display:none; position:relative; margin-top:24px; height:24px; border-top:1px solid #CCCCCC; }
	#content .pagination a { color:#C01000; text-decoration:none; }
	#content .pagination a:hover { text-decoration:underline; }

	#content .pagination span.prev { position:absolute; left:10px; top:10px; padding-left:14px; background:url(img/icon_left.png) no-repeat left; }
	#content .pagination span.next { position:absolute; right:10px; top:10px; padding-right:14px; background:url(img/icon_right.png) no-repeat right; }

/* fotowall style */

#content .usedTag{ *zoom:1; font-size:11px;}
#content .usedTag:after{ content:""; display:block; clear:both;}
#content .usedTag dt{ display:table-cell; *float:left; color:#666;}
#content .usedTag dd{ display:table-cell; *float:left; color:#8b8b8b; padding-left:5px;}
#content .usedTag dd a{ color:#8b8b8b; text-decoration:none;}
#content .usedTag dd a:hover,
#content .usedTag dd a:active,
#content .usedTag dd a:focus{ text-decoration:underline;}

#content .postMeta{ float:right; clear:both; position:relative; top:-40px; margin:0; right:0; font-size:11px; text-align:right;}
#content .postMeta .yymmdd{ color:#666;}
#content .postMeta .hhmm{ color:#8b8b8b;}
#content .postMeta .author{ padding:0 0 0 6px; margin:0 0 0 4px; text-decoration:none; color:#000; background:url(img/lineVrText.gif) no-repeat left center;}
#content .postMeta a.editPost{ padding:0 0 0 8px; text-decoration:underline; margin-left:5px; color:#666; background:url(img/lineVrText.gif) no-repeat left center; *zoom:1;}

/* Feedback */
.feedback{ position:relative; margin-top:20px; margin-bottom:20px; padding-top:20px;;/* border-top:1px solid #ddd; */}
.feedback .feedbackTitle{ height:19px; overflow:hidden; font-size:12px; margin-top:0; padding-bottom:6px; border-bottom:1px dotted #ccc; }

.feedback .feedbackOrder{ position:relative; margin:0; padding:0; *zoom:1;}
.feedback .feedbackOrder .item{ position:relative; *zoom:1;}
.feedback .feedbackOrder .item:after{ content:""; display:block; clear:both;}

.feedback.trackback .data{ color:#8b8b8b;}
.feedback.trackback .item{ padding:15px 0; list-style:none; border-top:1px solid #e5e5e5;}

.feedback.reply { margin-bottom:0; }
.feedback.reply .feedbackOrder{ overflow:hidden;}
.feedback.reply .item{ top:-1px; padding:0; padding-bottom:20px; list-style:none; }

.feedback .trackbackURL{ *zoom:1; position:absolute; right:0; top:10px; }
.feedback .trackbackURL:after{ content:""; display:block; clear:both;}
.feedback .trackbackURL dt{ float:left; width:80px; font-weight:bold; color:#aaa;}
.feedback .trackbackURL dd{ float:left; margin:0;}
.feedback .trackbackURL dd a{ font-size:11px; color:#666; text-decoration:none;}
.feedback .trackbackURL dd a:hover,
.feedback .trackbackURL dd a:active,
.feedback .trackbackURL dd a:focus{ text-decoration:underline;}

.feedback .item.replyTarget{ background-color:#f9f9f9; padding-right:10px;}
.feedback .item.replyTarget .textyleContent{ background-color:transparent;}
.feedback .item.indent{ background-image:url(img/iconIndent.gif); background-repeat:no-repeat;}
.feedback .item.indent.indent1{ padding-left:30px; background-position:10px 20px;}
.feedback .item.indent.indent2{ padding-left:60px; background-position:40px 20px;}
.feedback .item.indent.indent3{ padding-left:90px; background-position:70px 20px;}
.feedback .item.indent.indent4{ padding-left:120px; background-position:100px 20px;}
.feedback .item.indent.indent5{ padding-left:150px; background-position:130px 20px;}
.feedback .item.indent.indent6{ padding-left:180px; background-position:160px 20px;}
.feedback .item.indent.indent7{ padding-left:210px; background-position:190px 20px;}
.feedback .item.indent.indent8{ padding-left:240px; background-position:220px 20px;}
.feedback .item.indent.indent9{ padding-left:270px; background-position:250px 20px;}
.feedback .item.indent.indent10{ padding-left:300px; background-position:280px 20px;}
.feedback .item.indent.indent11{ padding-left:330px; background-position:310px 20px;}
.feedback .item.indent.indent12{ padding-left:360px; background-position:340px 20px;}
.feedback .item.indent.indent13{ padding-left:390px; background-position:370px 20px;}
.feedback .item.indent.indent14{ padding-left:420px; background-position:400px 20px;}
.feedback .item.indent.indent15{ padding-left:450px; background-position:430px 20px;}
.feedback .item.indent.indent16{ padding-left:480px; background-position:460px 20px;}
.feedback .item.indent.indent17{ padding-left:510px; background-position:490px 20px;}
.feedback .item.indent.indent18{ padding-left:540px; background-position:520px 20px;}
.feedback .item.indent.indent19{ padding-left:570px; background-position:550px 20px;}
.feedback .item.indent.indent20{ padding-left:600px; background-position:580px 20px;}
.feedback .item.indent.indent21{ padding-left:630px; background-position:610px 20px;}
.feedback .item.indent.indent22{ padding-left:660px; background-position:640px 20px;}
.feedback .item.indent.indent23{ padding-left:690px; background-position:670px 20px;}
.feedback .item.indent.indent24{ padding-left:720px; background-position:700px 20px;}
.feedback .item.indent.indent25{ padding-left:750px; background-position:730px 20px;}
.feedback .item.indent.indent26{ padding-left:780px; background-position:760px 20px;}
.feedback .item.indent.indent27{ padding-left:810px; background-position:790px 20px;}
.feedback .item.indent.indent28{ padding-left:840px; background-position:820px 20px;}
.feedback .item.indent.indent29{ padding-left:870px; background-position:850px 20px;}
.feedback .item.indent.indent30{ padding-left:900px; background-position:880px 20px;}

.feedback .date{ margin:0; font-size:9px; color:#666;}
.feedback .date .hhmm{ color:#8b8b8b;}

.feedback .meta{ display:table-cell; width:100px; padding:0 20px 0 0; margin:0; *zoom:1; float:left;}
.feedback .meta:after{ content:""; display:block; clear:both;}
.feedback .meta a{ text-decoration:none;}
.feedback .meta a:hover,
.feedback .meta a:active,
.feedback .meta a:focus{ text-decoration:underline;}
.feedback .meta .thumb{ float:left; margin:0 10px 5px 0;}
.feedback .meta .thumb img{ border:1px solid #ededed; vertical-align:middle; width:39px; height:39px;}
.feedback .meta .author{ margin:0 0 5px 0; padding:0; color:#C01000; font-size:12px;}
.feedback .meta .author a{ color:#000;}
.feedback .meta .title{ margin:0; padding:0; color:#666; font-size:12px;}
.feedback .meta .title a{ color:#000;}
.feedback .meta .ipAddress{ margin:0; font-size:9px; color:#8b8b8b;}

.feedback .data{ display:table-cell; *float:left; clear:none;}
.feedback .data .trackbackTitle{ margin:0; color:#333; font-weight:normal; font-size:12px;}
.feedback .data .trackbackTitle a{ text-decoration:none; color:#333; margin-right:10px;}
.feedback .data .trackbackTitle a:hover,
.feedback .data .trackbackTitle a:active,
.feedback .data .trackbackTitle a:focus{ text-decoration:underline;}
.feedback .data p{ margin:0 !important;}
.feedback .data p.secret{ padding-left:15px; background:url(img/iconSecret.gif) no-repeat left center; color:#8b8b8b;}
.feedback .data .xe_content{ width:auto !important;}

.feedback .reAction{ position:relative; overflow:hidden; padding:0; margin:0; list-style:none; white-space:nowrap; clear:both; *zoom:1;}
.feedback .reAction:after{ content:""; display:block; clear:both;}
.feedback .reAction li{ position:relative; left:-5px; display:inline; margin:0; *margin:0 4px 0 0; padding:0 0 0 5px; background:url(img/lineVrText.gif) no-repeat left center; *zoom:1; vertical-align:middle;}
.feedback .reAction li.first{ background:none;}
.feedback .reAction li *{ vertical-align:middle;}
.feedback .reAction li a{ font-size:11px; text-decoration:none; color:#666;}
.feedback .reAction li a:hover,
.feedback .reAction li a:active,
.feedback .reAction li a:focus{ text-decoration:underline;}
.feedback .reAction li button { overflow:visible; border:0; background:transparent; cursor:pointer; padding:0; font-size:11px; color:#999; font-family:"Malgun Gothic"; }
.feedback .reAction li .sep { color:#ccc; margin-right:4px; }

.feedback .pwForm{ margin:0; padding:0; display:none;}
.feedback .pwForm.active{ display:block;}
.feedback .pwForm *{ vertical-align:middle;}
.feedback .pwForm{ margin:1em 0;}
.feedback .pwForm .inputText{ font-size:11px; padding:2px 4px 4px 4px; height:12px; width:90px; margin:0 -1px 0 0;}
.feedback .pwForm .submit{ border:1px solid #c2c2c2; border-top-color:#9c9c9c; border-left:0; background:#eee; padding:0 2px; height:20px; cursor:pointer; font-size:11px;}

.replyForm{ padding-bottom:20px;}
.replyForm.guestBook{ border:0;}
.feedback .replyForm{ top:0 !important; padding:10px !important; margin-bottom:0; background:#f9f9f9;}
.replyForm *{ font-size:12px;}
.replyForm h3{ font-size:14px;}
.replyForm .inputTextarea{ width:668px !important; padding:5px; display:block; margin:0 0 3px 0; overflow:auto;}
.replyForm .inputTextarea:focus{ background-color:#fffce0;}
.feedback .replyForm .inputTextarea{ width:648px !important;}
.replyForm .inputText{ width:135px; padding:3px 4px; height:15px; vertical-align:middle;}
.replyForm .inputText:focus{ background-color:#fffce0;}
.replyForm .inputText.name,
.replyForm .inputText.pw{ width:100px;}
.replyForm .inputText.email,
.replyForm .inputText.url{ width:160px;}
.replyForm .inputCheck{ vertical-align:middle;}
.replyForm label{ vertical-align:middle; cursor:pointer;}
.replyForm .inputSubmit{ border:1px solid #cacaca; cursor:pointer; overflow:visible; padding:7px 20px; font-family:Tahoma; font-weight:bold; display:block; margin:3px 0 0 0; color:#666; background:#f2f2f2; margin-top:10px; }
.replyForm .inputSubmit:hover,
.replyForm .inputSubmit:active,
.replyForm .inputSubmit:focus{ background:#e8e8e8;}
.replyForm strong.name{ margin:0 10px 0 0;}
.replyForm span.email{ color:#8b8b8b; margin:0 10px 0 0; font-size:11px;}
.replyForm span.url{ color:#8b8b8b; font-size:11px; margin:0 10px 0 0;}

/* * paging */
#paging {  padding-top:10px; padding-bottom:30px; color:#fff; font-size:12px; position:relative;	 }
	#paging .tool { position:absolute; right:10px; top:20px; }

	#paging a { color:#555; text-decoration:none; background:#eee; padding:5px; padding-left:8px; padding-right:8px; -moz-border-radius:4px; }

	#paging a.num { text-decoration:none; color:#555; margin-left:2px; margin-right:2px; }
	#paging a.selected { color:#fff; background:#333; }

	#paging a.prev,
	#paging a.next { font-weight:normal;  }

	#paging a.prev { margin-right:2px; }
	#paging a.next { }

	#paging a:hover { color:#555; background-color:#ddd; }

	#paging a.no_more { color:#ccc; background:#fafafa; padding-left:8px; }

	#paging .nums a.prev,
	#paging .nums a.next { margin-left:2px; margin-right:2px; }

	#paging .interword { color:#999; padding:5px; padding-left:8px;  }
	
	#paging a.top { background:url("./images/icon_top.gif") no-repeat 10px center; padding-left:20px; }
	#paging a.top:hover { background-color:#eee; }

/* WidgetTree */
.widgetTree *{ margin:0; padding:0; font-size:12px;}
.widgetTree .all{ padding:0 0 0 5px; color:#333 !important;}
.widgetTree a strong{ letter-spacing:-1px; cursor:pointer; _cursor /**/:hand;}
.widgetTree ul{ position:relative; display:block; padding:3px 0 0 0 !important; margin:0 0 0 11px; zoom:1; background:url(img/lineTreeVr.gif) repeat-y 0 -1px;}
.widgetTree ul li{ list-style:none; position:relative; padding:3px 0 2px 8px; white-space:nowrap; background:url(img/lineTreeHr.gif) no-repeat 1px 5px !important;}
.widgetTree ul li .nav_tree_label,
.widgetTree ul li .sum{ position:relative; left:16px; _left /**/:0; top:0; color:#8b8b8b;}
.widgetTree ul li em{ font-style:normal;}
.widgetTree ul li button{ display:inline-block; position:relative; _left /**/:-16px; *top:-2px; width:13px; height:13px; *width:17px; *height:17px; margin:0 -13px 0 0; *margin:0 -17px -1px -2px; text-indent:-10000px; *text-indent:0; *font:0/0 Sans-serif; border:none; cursor:pointer; _cursor /**/:hand; background:url(img/buttonTreeCollapse.gif) no-repeat;}
.widgetTree ul li ul{ display:none; padding:2px 0 0 0 !important; margin:0 0 -2px 6px; background-position:left top;}
.widgetTree ul li ul li{ display:none;}
.widgetTree ul li.nav_tree_on button{ background-position:0 -13px; *background-position:2px -11px;}
.widgetTree ul li.nav_tree_off button{ background-position:0 0; *background-position:2px 2px;}
.widgetTree ul li.nav_tree_on ul{ display:block;}
.widgetTree ul li.nav_tree_on ul li{ display:block;}
.widgetTree ul li.nav_tree_off ul{ display:none;}
.widgetTree ul li.nav_tree_off ul li{ display:none;}
.widgetTree ul li.nav_tree_last{ background:url(img/lineTreeLastHr.gif) no-repeat 0 5px !important;}
.widgetTree ul li.active,
.widgetTree ul li.active a,
.widgetTree ul li.active .sum{ font-weight:bold; color:#ff1a1a !important;}
.widgetTree ul li.active li,
.widgetTree ul li.active li a,
.widgetTree ul li.active li .sum{ font-weight:normal; color:#8b8b8b !important;}
.widgetTree .icon{ position:relative; left:16px;}

/* archive items */
.widgetA{ margin:0 0 0 5px; padding:0; list-style:none;}
.widgetA li{ padding:0 0 0 8px; margin:0 0 5px 0; background:url(img/iconWidgetList.gif) no-repeat 0 6px;}
.widgetA li .replyNum,
.widgetA li .replyNum a{ color:#ff1a1a !important;}
.widgetA li .trackbackNum,
.widgetA li .trackbackNum a{ color:#19a0ff !important;}

/* widgetTagCloud */
.widgetTagCloud { text-align:justify; font-size:12px; line-height:1.5; margin:0; padding:0;}
.widgetTagCloud li{ display:inline; list-style:none;}
.widgetTagCloud li a{ white-space:nowrap;}
.widgetTagCloud li.level4 a{ font-size:12px; color:#888 !important;}
.widgetTagCloud li.level3 a{ font-size:12px; color:#666 !important;}
.widgetTagCloud li.level2 a{ font-size:12px; font-weight:bold; color:#444 !important;}
.widgetTagCloud li.level1 a{ font-size:14px; font-weight:bold; color:#000 !important;}

/* Tag Cloud */
.tagCloud { text-align:justify; font-size:12px; line-height:1.5; margin:0; padding:0;}
.tagCloud li{ display:inline; white-space:nowrap; list-style:none;}
.tagCloud li.level1 a{ font-size:11px; color:#888;}
.tagCloud li.level2 a{ font-size:14px; color:#666;}
.tagCloud li.level3 a{ font-size:18px; font-weight:bold; color:#444;}
.tagCloud li.level4 a{ font-size:24px; font-weight:bold; color:#000;}

.tagCloud li a{ text-decoration:none;}
.tagCloud li a:hover,
.tagCloud li a:active,
.tagCloud li a:focus{ text-decoration:underline;}

/* Search Result */
.searchResult{ position:relative; overflow:hidden; margin:1em 0; padding:0; list-style:none;}
.searchResult li{ position:relative; top:-1px; padding:7px 100px 7px 0; border-top:1px solid #f4f4f4; *zoom:1;}
.searchResult li a{ text-decoration:none; color:#000;}
.searchResult li a:hover,
.searchResult li a:active,
.searchResult li a:focus{ text-decoration:underline;}
.searchResult li .date{ position:absolute; top:9px; right:0; font-size:9px; color:#8b8b8b;}

/* textyleContent */
.textyleContent{ font-size:12px; line-height:1.6; clear:both;}
.textyleContent h1{ font-size:24px;}
.textyleContent h2{ font-size:20px;}
.textyleContent h3{ font-size:18px;}
.textyleContent h4{ font-size:16px;}
.textyleContent h5{ font-size:14px;}
.textyleContent h6{ font-size:12px;}

/* Attached File */
.textyleContent dl.attachedFile { position:relative; margin:1em 0; padding:1em 0; background:#f9f9f9; border:1px solid #eee;}
.textyleContent dl.attachedFile dt { padding:0 2em .5em 2em; margin:0 0 1em 0; font-weight:bold; text-indent:1em; border-bottom:1px solid #eee; background:#f9f9f9 url(img/iconClip.gif) no-repeat 2em .3em; font-size:12px;}
.textyleContent dl.attachedFile em{ font-size:11px; font-weight:normal; font-style:normal; margin:0 5px;}
.textyleContent dl.attachedFile dd{ margin:0; padding:0 2em; color:#8b8b8b; font-size:11px;}
.textyleContent dl.attachedFile dd a{ text-decoration:none; color:#0092cf; margin-right:10px;}
.textyleContent dl.attachedFile dd a:hover,
.textyleContent dl.attachedFile dd a:active,
.textyleContent dl.attachedFile dd a:focus{ text-decoration:underline;}

/* Table Of Content */
.textyleContent .toc{ position:relative; background:#fff; border:1px solid #ddd; font-size:14px; line-height:1.6; margin:1em 0; padding:15px; *zoom:1;}
.textyleContent .toc li{ font-weight:bold; color:#555; margin-left:35px;}
.textyleContent .toc li.toc3{}
.textyleContent .toc li.toc4{ margin-left:55px;}
.textyleContent .toc li.toc5{ margin-left:75px;}
.textyleContent .toc li a{ color:#648ab9; text-decoration:none; font-weight:normal;}
.textyleContent .toc li a:hover,
.textyleContent .toc li a:active,
.textyleContent .toc li a:focus{ text-decoration:underline;}

/* Object */
.textyleContent object{ margin:1em 0;}

/* Horizontal Rule */
.textyleContent hr{ display:block; position:static; border-bottom:0; height:1px; overflow:hidden; color:#e2e2e2; clear:both;}

/* Blockquote */
.textyleContent blockquote{ margin:1em 0; padding:1em 2em; background:#f6f6f6; -moz-border-radius:5px; -webkit-border-radius:5px; }

/* Cite */
.textyleContent cite{ display:block; margin:1em 0;}

/* Link */
.textyleContent .xe_dr_link p strong{ display:block;}

/* P */
.textyleContent p{ margin:1em 0 !important;}

/* More | Less */
.fold_button{ text-align:left; margin:1em 0;}
.fold_button button{ font-size:12px; border:0; background:none; cursor:pointer; color:#2200cc; overflow:visible; padding:0;}
.fold_button button:before{ content:"» ";}

/* Me2day Widget */
.me2day_daily_digest{ line-height:1.5;}
.me2day_daily_digest ul{ margin-left:0; padding-left:0; list-style:none;}
.me2day_daily_digest li{ position:relative; clear:both; padding:0 0 16px 45px; margin-bottom:1em; *zoom:1; background:url(img/iconMe2day.gif) no-repeat 0 0;}
.me2day_daily_digest .me2_tags{ display:block; padding:5px 0 5px 30px; margin:0; font-size:11px; line-height:1.2; color:#767676; background:url(img/iconMe2tag.gif) no-repeat left 5px;}
.me2day_daily_digest .datetime{ position:absolute !important; bottom:2px; display:none; font:11px/1 Tahoma; color:#66C; white-space:nowrap; text-decoration:none;}
.me2day_daily_digest li:hover .datetime{ display:block;}
.me2day_daily_digest a:hover,
.me2day_daily_digest a:active,
.me2day_daily_digest a:focus{ text-decoration:underline;}
